.main {
  max-width: 400px;
  margin: 0 auto;
}

.todo {
  max-width: 300px;
  padding: 20px;
  align-items: center;
  border: 2px solid rgb(102, 100, 100);
}

.todo__inner-wrapp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo__add-section {
  display: flex;
  width: 100%;
  margin-bottom: 14px;
  justify-content: space-between;
}

.todo__item-container {
  width: 100%;
}

.todo__list {
  width: 100%;
  padding: 0;
  margin: 0;
}

.list-item {
  display: flex;
  padding: 6px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
}

.list-item__text {
  padding: 0;
  margin: 0;
  width: 165px;
  overflow: hidden;
}
